<div> hello its log-in page
        please log in first to go to dashboard
 </div>
<form action="/login" method="post">  
    <input id="textbox" type="text" title="Email" placeholder="Email" name="email"/>
    <input  id="password" type="password" title="Password" placeholder="Password" name="password"/>
    <button type="submit" class="btn">Login</button>
    <a class="forgot" href="#">Forgot Username?</a>
  </form>