<form action="/login" method="post">  
    <input type="text" title="username" placeholder="Email" name="email"/>
    <input type="password" title="username" placeholder="password" name="{{password}}"/>
    <button type="submit" class="btn">Login</button>
    <a class="forgot" href="#">Forgot Username?</a>
  </form>