<div class="log-form">
  <h2>signup new account //// success loading signup page</h2>
<form action="/signup" method="post">  
    <input type="text" title="username" placeholder="Email" name="email"/>
    <input type="password" title="username" placeholder="password" name="{{password}}"/>
    <button type="submit" class="btn">Login</button>
    <a class="forgot" href="#">Forgot Username?</a>
  </form>
</div><!--end log form -->